body {
    font-family: "Georgia, Times, 'Times New Roman', serif";
    background-color: #ffffff;
    border-color: #dddddd;
    margin: 0px;   
    position: fixed; 
}


.topWrapper {
    background-color: #ffffff;       
}


.topHeaders {
    width: 1000px;
    margin: auto;  
} 


header {
    font-family: "Georgia";
    color: #ffffff;
    text-align: center;
    background-color: #4aaaa5;
    width: 270px;
    padding: 2px;
    float: left;          
}


.links {
    background-color: #ffffff;
    width: 203px;
    padding: 25px;
    padding-right: 0px;
    float: right;    
}


.spacer {
    color: #eeeeee;
}


a {
    text-decoration: none;
    text-align: right;
    color: #777777;
    font-family: Arial;
    font-size: 14px;


}a.about:hover, a.portfolio:hover, a.contact:hover {
    color: #4aaaa5;
}


.bottomWrapper {
    width: 1436px;
    height: 501px;
    margin: 0;
    background-image: url("../../Assets/Images/concrete_seamless.png"); 
    padding: 50px;
    border-top: 1px solid #cccccc;
    clear: both;
    
}


.bioBox {
    width: 960px;
    padding: 20px;
    margin: auto;
    margin-left: 219px;
    background-color:#ffffff;
       
    border: 1px solid #dddddd;
    float: left;
}


.mainContentBox {
    padding-left: 4px;
    padding-bottom: 15px;
    float:left;
}


#contact {
    color: #4aaaa5;
    font-family: Georgia;
}


#linebreak {
    background-color: #e7e7e7;
    height: .25px; 
    margin-bottom: 20px;  
}


#formInput {
    color: #777777;
    font-family: Arial;
    font-size: 14px;
}


#name, #email {
    width: 940px;
    color: black;
    padding: 5px;
    margin-top: 5px;  
    font-family: Arial;  
    font-size: 14px;
}


textarea {
    width: 940px;
    height: 100px;
    color: black;
    padding: 5px;
    margin-top: 5px;
    resize: none;
    font-family: Arial;
    font-size: 14px;
}


#submitButton {
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 6px;
    width: 90px;
    border-color: #dddddd;
    border-width: 1px;
    border-style: solid;
    font-family: Arial;
}


footer {
    background-color: #666666;
    width: 1536px;
    height: 40px;
    clear: both;
    text-align: center;
    border-top: 8px solid #4aaaa5;  
    position: relative;
}


#footerText {  
    color: #aaaaaa;
    font-size: 10px;  
    position: absolute;
    bottom: 0; 
    padding-bottom: 5px;    
}


@media screen and (max-width: 980px) {

.topHeaders {
    width: 100%;
    margin-left: 50px;
}
        
.links {
    width: 53%;
    margin-right: 64px;
}
        
.bioBox {
    width: 57.5%;
    margin: auto;
}

#name {
    width: 98%;
}

#email {
    width: 98%;
}

#textarea {
    resize:none;
    width: 808px;
}
      
footer {
    width: 63%;
    margin-bottom: 10px;
}
        
#footerText {
    padding-bottom: 10px;
}
        
}


@media screen and (max-width: 768px) {

.topHeaders {
    width: 100%;
    margin-left: 50px;
}

.links {
    width: 66%;
    margin-right: 70px;
}

.bioBox {
    width: 43%;
    margin: auto;
}

.bottomWrapper {
    height: 810px;
}

#name {
    width: 97.5%;
}

#email {
    width: 97.5%;
}

#textarea {
    resize:none;
    width: 600px;
}

footer {
    width: 50%;
    margin-bottom: 10px;
}

#footerText {
    padding-bottom: 10px;
}

}


@media screen and (max-width: 640px) {

body {    
    height: 640px;
    width: 360px;
}

.topHeaders {
    width: 100%;
    margin: 0px;
    font-size: 14px;
}

header {
    width: 360px;
    padding: 5px;
}
    
.links {
    width: 360px;
    padding: 10px;
    margin-left: 20px;
    margin: auto;    
}

.about {
    margin-left: 96px;
}
    
.bottomWrapper {
    height: 480px;
    padding: 10px;
    padding-left: 30px;
    padding-bottom: 0px;
} 

.bioBox {
    width: 18%;
    margin: auto;  
    padding-bottom: 10px;  
}

.mainContentBox {
    padding-bottom: 0px;
}

#name {
    width: 96.5%;
}

#email {
    width: 96.5%;
}

#textarea {
    resize:none;
    width: 250px;
}

footer {
    width: 360px;    
}
    
#footerText {
    padding-bottom: 10px;
}
    
}